@import '../../stylesheets/variables';

.taxonomy-tree-container{
    width: 100%;
    height: fit-content;
    svg#taxonomy-tree{
        height:200vh;
        width:inherit;
        g#tree-group{
            transform: translate(10%,10%);
        }
        g.node{
            fill: white;
            stroke: $color-primary-grey;
            .img-box {
                height: 54px;
                width: 54px;
                fill: white;
                stroke: $color-primary-grey;
                transform: translate(0px, -27px)
            }
            .thumbnail {
                height: 44px;
                width: 44px;
                transform: translate(5px, -22px)
            }
            .label-svg-container{
                width: 150px;
                height: 54px;
                transform: translate(54px, -27px); 
                div.label{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    text-align: center;
                    height: 54px;
                    div {
                        margin:0px;
                        color: $color-primary-grey;
                        width:100px;
                        &.name{
                            font-weight:bold;
                        }
                        &.rank{
                            font-style:italic;
                        }
                    }
                }

            }
            text{
                text-anchor: start;
                fill: $color-primary-grey;
                transform: translate(64px, -5px);
                &.rank{
                    transform: translate(64px, 10px);
                    font-style: italic;
                    stroke-width: 0.5;
                }
            }
            rect.label-box{
                height: 54px;
                width: 150px;
                fill: white;
                stroke: $color-primary-grey;
                transform: translate(54px, -27px);
            }
        }
        .link{
            stroke: $color-secondary-green;
            fill: none;
        }
    }

}
