@import '../../stylesheets/variables';

.taxonomy-tree-container{
    width: 100%;
    height: 100vh;
    svg#taxonomy-tree{
        height:inherit;
        width:inherit;
        g#tree-group{
            transform: translate(25%,10%);
        }
        g.node{
            fill: white;
            stroke: $color-primary-grey;
            text{
                text-anchor: start;
                fill: $color-primary-grey;
                .rank{
                    font-style: italic;
                    font-weight: lighter;
                }
            }
        }
        .link{
            stroke: $color-background-grey;
            fill: none;
        }
    }

}
