@import '../../stylesheets/variables';

.main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $color-background-white;
    .layout-container{
        display:flex;
        justify-content: space-around;
    }
    .header{
        text-align:center;
        padding: 0 1rem;
    }
}