.App {
  font-size: 14px;
  font-weight: lighter; }

h1,
h2,
h3 {
  letter-spacing: .1em;
  font-weight: lighter; }

a {
  color: #666;
  cursor: pointer;
  text-decoration: none; }

.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white; }
  .main .layout-container {
    display: flex;
    justify-content: space-around; }
  .main .header {
    text-align: center;
    padding: 0 1rem; }

.search-bar {
  width: 50%; }
  .search-bar input {
    margin: auto;
    font-size: 1.5rem;
    height: 2rem;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px; }
    .search-bar input:focus {
      outline: none; }

.search-results {
  width: 100%;
  max-height: 15rem;
  overflow-y: scroll;
  border: 2px solid #eee;
  padding: 1px; }
  .search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .search-results ul li {
      padding: 0;
      border-bottom: 1px solid #eee; }
      .search-results ul li:hover {
        cursor: pointer;
        background-color: #eee; }
      .search-results ul li:last-child {
        border-bottom: none; }

.search-result {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column; }
  .search-result div.name {
    padding: 0.25rem 0; }
  .search-result div.taxa-rank {
    padding: 0.25rem 0;
    color: #666;
    font-size: 0.75rem;
    font-style: italic; }

.taxonomy-tree-container svg#taxonomy-tree {
  height: inherit;
  width: inherit; }
  .taxonomy-tree-container svg#taxonomy-tree g#tree-group {
    transform: translate(100px, 100px); }
  .taxonomy-tree-container svg#taxonomy-tree g.node {
    fill: white;
    stroke: #666; }
    .taxonomy-tree-container svg#taxonomy-tree g.node .img-box {
      height: 54px;
      width: 54px;
      fill: white;
      stroke: #666;
      transform: translate(0px, -27px); }
    .taxonomy-tree-container svg#taxonomy-tree g.node .thumbnail {
      height: 44px;
      width: 44px;
      transform: translate(5px, -22px); }
    .taxonomy-tree-container svg#taxonomy-tree g.node .label-svg-container {
      width: 150px;
      height: 54px;
      transform: translate(54px, -27px); }
      .taxonomy-tree-container svg#taxonomy-tree g.node .label-svg-container div.label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 54px; }
        .taxonomy-tree-container svg#taxonomy-tree g.node .label-svg-container div.label div {
          margin: 0px;
          color: #666;
          width: fit-content;
          max-width: 150px; }
          .taxonomy-tree-container svg#taxonomy-tree g.node .label-svg-container div.label div.name {
            font-weight: bold; }
          .taxonomy-tree-container svg#taxonomy-tree g.node .label-svg-container div.label div.rank {
            font-style: italic; }
    .taxonomy-tree-container svg#taxonomy-tree g.node text {
      text-anchor: start;
      fill: #666;
      transform: translate(64px, -5px); }
      .taxonomy-tree-container svg#taxonomy-tree g.node text.rank {
        transform: translate(64px, 10px);
        font-style: italic;
        stroke-width: 0.5; }
    .taxonomy-tree-container svg#taxonomy-tree g.node rect.label-box {
      height: 54px;
      width: 150px;
      fill: white;
      stroke: #666;
      transform: translate(54px, -27px); }
  .taxonomy-tree-container svg#taxonomy-tree .link {
    stroke: #8eac22;
    fill: none; }
